<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<!-- using of like getting the value from the  server/controller and showing it here + no need to use any other stuff like exports, just directly use-->
<body>
    <%- include('./partials/nav.ejs') %>
    <!-- simply to add the ejs stuff here; kinda module approach  -->
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>
           <%  if(blogs.length>0){ %>
               <%  blogs.forEach((blog)=>{%>
                   <h3 class="title"><%= blog.title%></h3>
                   <p class="snippet"><%= blog.snippet%></p>
               <% }) %>
           <%  } else{ %>
                    <p>There are no blogs to display</p>
                <%   } %>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>